.features {
    margin: 40px 0 0 0;
  
    &__title {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
      margin: 0 0 48px 0;
      color: #ffffff;
      background: linear-gradient(39deg, rgba(12, 92, 174, 1) 0%, rgba(71, 185, 159, 1) 100%);
      padding: 20px 0;
      line-height: 44px;
      @media screen and (max-width: 475px) {
        font-size: 24px;
        line-height: 34px;
    }

      &__decoration {
        font-size: 54px;
        @media screen and (max-width: 475px) {
            font-size: 42px;
        }
      }
    }
  
    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 90%;
      margin: 0 auto 48px auto;
    }
  
    &__item {
      display: flex;
      align-items: center;
      background: #fff;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
      overflow: hidden;
    }
  
    &__left {
    background: linear-gradient(39deg, rgb(12, 92, 174) 0%, rgb(71, 185, 159) 100%);
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    padding: 40px 5%;
    @media screen and (max-width: 475px) {
        font-size: 28px;
        padding: 44px 3%;
        font-size: 24px;
    }
    }
  
    &__right {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 16px 4% 16px 7%;
      flex: 1;
      @media screen and (max-width: 475px) {
        padding: 0 4% 0 4%;
        gap: 14px;
    }
    }
  
    &__icon {
      flex-shrink: 0;
    }
  
    &__textGroup {
      text-align: left;
    }
  
    &__itemTitle {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 4px;
      @media screen and (max-width: 475px) {
        font-size: 18px;
    }
    }
  
    &__text {
      font-size: 16px;
      color: #555;
    }

    & .icon {
        width: 80px;
        height: 80px;
      
        @media screen and (max-width: 475px) {
          width: 60px;
          height: 60px;
        }
    }
  }
  