.qa {
    background-color: #ffffff;
    padding: 60px 0 10px 0;

    &__heading {
        text-align: center;

        &__text {
            color: #ffffff;
            background: linear-gradient(88deg, #0c5cae 0%, #47b99f 100%);
            display: inline-block;
            padding: 6px 20px;
            border-radius: 200px;
            font-size: 20px;
            font-weight: 400;
            @media screen and (max-width: 475px) {
                font-size: 18px;
            }
        }

        &__decoration {
            font-size: 80px;
            background: linear-gradient(40deg, rgb(12, 92, 174) 0%, rgba(71, 185, 159, 1) 100%);
            -webkit-background-clip: text !important;
            background-clip: text;
            text-fill-color: transparent;
            font-family: "Noto Sans JP-Black", Helvetica;
            font-weight: 900;
            color: transparent;
            text-align: center;
            letter-spacing: 0;
            line-height: normal;
            white-space: nowrap;
            @media screen and (max-width: 475px) {
                font-size: 68px;
            }
        }
    }

    &__list {
        width: 90%;
        margin: 32px auto 48px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {

        &__question {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #ffffff;
            background: linear-gradient(88deg, #0c5cae 0%, #47b99f 100%);
            padding: 20px 30px;
            border-radius: 16px 16px 0px 0px;
            @media screen and (max-width: 475px) {
                padding: 20px 20px;
            }
            

            &__decoration {
                font-size: 30px;
                font-weight: 600;
                @media screen and (max-width: 475px) {
                    font-size: 26px;
                }
            }

            &__text {
                font-size: 18px;
                @media screen and (max-width: 475px) {
                    font-size: 16px;
                }
            }
        }

        &__answer {
            color: #000000;
            background-color: #ffffff;
            padding: 20px 30px;
            border-radius: 0px 0px 16px 16px;
            display: flex;
            gap: 10px;
            text-align: justify;
            border: 2px solid transparent;
            background-image: linear-gradient(#fff, #fff),
            linear-gradient(88deg, #0c5cae 0%, #47b99f 100%);
            background-origin: border-box;
            background-clip: padding-box, border-box;
            @media screen and (max-width: 475px) {
                padding: 20px 20px;
            }

            &__decoration {
                font-size: 30px;
                font-weight: 600;
                @media screen and (max-width: 475px) {
                    font-size: 26px;
                }
            }

            &__text {
                font-size: 16px;
                @media screen and (max-width: 475px) {
                    font-size: 14px;
                }
            }
        }

    }
}