.voice {
    padding: 54px 0;

    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 24px -20px;

        &__image {
            max-width: 155px;
            width: 166px;
            @media screen and (max-width: 475px) {
                width: 129px;
                height: 138px;
                // width: 86px;
                // height: 92px;
            }
        }

        &__contents {
            margin: 0 0 0 -12px;

            &__text {
                font-size: 54px;
                background: linear-gradient(40deg, rgba(71, 185, 159, 1) 0%, rgb(12, 92, 174) 100%);
                -webkit-background-clip: text !important;
                background-clip: text;
                text-fill-color: transparent;
                font-family: "Noto Sans JP-Black", Helvetica;
                font-weight: 900;
                color: transparent;
                text-align: center;
                letter-spacing: 0;
                line-height: normal;
                white-space: nowrap;
                margin: -4px 0 0 0;

                @media screen and (max-width: 475px) {
                    font-size: 30px;
                }
            }

            &__decoration {
                color: #2067ae;
                font-size: 64px;
                background-color: #fffd73;
                border-radius: 50%;
                // margin: 0 0 0 -10px;
                width: 1.5em;
                height: 1.5em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 475px) {
                    font-size: 34px;
                }
            }

            &__image1,  &__image2 {
                width: 306px;
                height: 46px;
                @media screen and (max-width: 475px) {
                    width: 184px;
                    height: 28px;
                }
            }
        }


    }

    &__list {
        width: 90%;
        margin: 0 auto;
        gap: 20;
        display: flex;
        flex-direction: column;
    }

    &__item {
        background-color: #ffffff;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        @media screen and (max-width: 475px) {
            gap: 12px;
        }

        &__course {
            padding: 3px 12px;
            display: inline-block;
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
            background-color: #ff8c21;
            align-self: flex-start;
        }

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
            gap: 20px;
            @media screen and (max-width: 475px) {
                font-size: 16px;
                gap: 12px;
            }

            &__image {
                width: 74px;
                height: 74px;
                @media screen and (max-width: 475px) {
                    width: 64px;
                    height: 64px;
                }
            }
        }

        &__text {
            font-size: 16px;
            font-weight: 500;
        }

        &__detail {
            font-size: 16px;
            font-weight: 500;
            display: inline-block;
            margin: 0 0 0 auto;
        }
    }
}