.worries {
    &__before {
        background-color: #d2d2d2;
        padding: 40px 0 0 0;
        position: relative;

        &__heading {
            text-align: center;
            margin: 0 0 34px 0;
            position: relative;

            &__text1, &__text3 {
                font-size: 28px;
                @media screen and (max-width: 475px) {
                    font-size: 24px;
                }
            }

            &__text2 {
                font-size: 54px;
                color: #052648;
                position: relative;
                @media screen and (max-width: 475px) {
                    font-size: 36px;
                }

                &::before {
                    content: "・・・";
                    position: absolute;
                    top: -40px;
                    left: 20px;
                    font-size: 40px;
                    @media screen and (max-width: 475px) {
                        top: -30px;
                        left: 8px;
                        font-size: 30px;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 48px;
                left: 0;
                width: 8%;
                height: 2px;
                background-color: #052648;
                @media screen and (max-width: 475px) {
                    width: 4%;
                    top: 30px;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 48px;
                right: 0;
                width: 8%;
                height: 2px;
                background-color: #052648;
                @media screen and (max-width: 475px) {
                    width: 4%;
                    top: 30px;
                }
            }
        }

        &__comment {
            background-color: #ffffff;
            padding: 20px;
            // display: inline-block;
            border-radius: 18px;
            font-weight: 600;
            font-size: 18px;
            position: relative;
            @media screen and (max-width: 475px) {
                font-size: 16px;
                
            }
        }

        &__comments {
            width: 90%;
            // position: relative;
            margin: 0 auto;
            @media screen and (max-width: 560px) {
                width: 80%;
            }
            @media screen and (max-width: 475px) {
                width: 90%;
            }

            &__group1 {
                display: flex;
                justify-content: space-between;
                margin: 0 0 62px 0;
                @media screen and (max-width: 560px) {
                    flex-direction: column;
                    margin: 0 0 20px 0;
                }

                &__comment1 {
                    margin: 0 0 16px 0;
                    display: inline-block;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                        margin: 0 0 0 0;
                    }
                    & .ellipse1 {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        bottom: -15px;
                        left: 28px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse2 {
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        bottom: -40px;
                        left: 52px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse3 {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        bottom: -56px;
                        left: 80px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
                }

                &__comment2 {
                    margin: 16px 0 0 auto;
                    display: inline-block;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                    }

                    & .ellipse1 {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        bottom: -15px;
                        right: 28px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse2 {
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        bottom: -40px;
                        right: 52px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse3 {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        bottom: -56px;
                        right: 80px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
                }
            }

            &__group2 {
                display: flex;
                justify-content: space-between;
                padding: 0 18px;
                @media screen and (max-width: 560px) {
                    flex-direction: column;
                    padding: 0;
                }

                &__comment3 {
                    margin: 0 0 16px 0;
                    display: inline-block;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                        margin: 0 0 0 0;
                    }

                    & .ellipse1 {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        bottom: -15px;
                        left: 28px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse2 {
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        bottom: -40px;
                        left: 52px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse3 {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        bottom: -56px;
                        left: 80px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
                }

                &__comment4 {
                    margin: 16px 0 0 0;
                    margin: 16px 0 0 auto;
                    display: inline-block;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                    }

                    & .ellipse1 {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        bottom: -15px;
                        right: 28px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse2 {
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        bottom: -40px;
                        right: 52px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
        
                    & .ellipse3 {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        bottom: -56px;
                        right: 80px;
                        background-color: #ffffff;
                        border-radius: 20px;
                    }
                }
            }
        }
        
        &__img {
            margin: 40px auto 0 auto;
            display: block;
            @media screen and (max-width: 475px) {
                margin: 50px auto 0;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -78px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 600px;
            height: 80px;
            background-color: #d2d2d2;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
          }
    }

    &__after {

        &__title {
            text-align: center;
            margin: 110px 0 40px 0;
        }

        &__maintitle {
            font-size: 28px;
            font-weight: 600;
            @media screen and (max-width: 475px) {
                font-size: 24px;
            }

            &__decoration {
                font-size: 36px;
                background: linear-gradient(40deg, rgba(12, 92, 174, 1) 0%, rgba(71, 185, 159, 1) 100%);
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
                font-weight: 900;
                @media screen and (max-width: 475px) {
                    font-size: 28px;
                }
            }
        }

        &__subtitle {
            display: inline-block;
            color: #0c5cae;
            background-color: #fefe7d;
            padding: 6px 14px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 52px;
            position: relative;
            margin: 0 0 14px 0;
            @media screen and (max-width: 475px) {
                font-size: 18px;
            }

            &::after {
                content: "";
                position: absolute;
                background-color: transparent;
                left: 44%;
                top: 34px;
                border-top: 16px solid #fefe7d;
                border-right: 14px solid transparent;
                border-left: 14px solid transparent;
            }
        }


        &__comment {
            background-color: #ffffff;
            padding: 20px;
            // display: inline-block;
            border-radius: 18px;
            font-weight: 600;
            font-size: 18px;
            @media screen and (max-width: 475px) {
                font-size: 16px;
                
            }
        }

        &__comments {
            width: 90%;
            // position: relative;
            margin: 0 auto;
            @media screen and (max-width: 560px) {
                width: 80%;
            }

            &__group1 {
                display: flex;
                justify-content: space-between;
                margin: 0 0 20px 0;
                @media screen and (max-width: 560px) {
                    flex-direction: column;
                }

                &__comment1 {
                    margin: 0 0 16px 0;
                    display: inline-block;
                    position: relative;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                        margin: 0 0 0 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -44px;
                        left: -44px;
                        width: 100px;
                        height: 100px;
                        background-image: url("/images/comment-decoration1.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                &__comment2 {
                    margin: 16px 0 0 auto;
                    display: inline-block;
                    position: relative;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -44px;
                        right: -44px;
                        width: 100px;
                        height: 100px;
                        background-image: url("/images/comment-decoration2.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }

            &__group2 {
                display: flex;
                justify-content: space-between;
                padding: 0 18px;
                @media screen and (max-width: 560px) {
                    flex-direction: column;
                    padding: 0;
                }

                &__comment3 {
                    margin: 0 0 16px 0;
                    display: inline-block;
                    position: relative;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                        margin: 0 0 0 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -44px;
                        left: -44px;
                        width: 100px;
                        height: 100px;
                        background-image: url("/images/comment-decoration1.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                &__comment4 {
                    margin: 16px 0 0 0;
                    margin: 16px 0 0 auto;
                    display: inline-block;
                    position: relative;
                    @media screen and (max-width: 560px) {
                        align-self: flex-start;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: -44px;
                        right: -44px;
                        width: 100px;
                        height: 100px;
                        background-image: url("/images/comment-decoration2.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }

        &__img {
            margin: 20px auto 0 auto;
            display: block;
        }
        
    }
}